.ask-bottomBordered:after {

	content: "";
	display: block;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
	margin-bottom: 10px;
}

.ask-container {

	margin-top: 10px;
	padding: 9px;
}

.ask-bigQuestionProfileImage{

	width: 64px;
	height: 64px;
}

.ask-questionUserBlock img {

	height: 90px;
	width: 90px;
}

.ask-questionRatingBlock {

	margin-top: 3px;

	width:95px;
	height: 30px;
}

.ask-questionRatingField {

	min-height: 0px;
	width: 89%;
	height: 100%;
	
	margin: 0px;
	padding: 2px 3px;
	font-size: 17px;
	
	background-color: white;
}

.ask-questionRatingButtonsGroup {

	width: 11%;
	height: 100%;
}

.ask-ratingButton {

	width: 100%;
	height: 50%;

	margin: 0px;
	padding: 0px;
}

.ask-ratingUpButton {

	background-color: #c0d890;
}

.ask-ratingDownButton {

	background-color: #ffb366;
}

.ask-questionQuestionBlock {

	position: relative;

	padding-bottom: 9px;
	padding-right: 15px;
	width:100%;
}

.ask-questionCaption {

	margin-top: 0px;
}

.ask-questionBottomLine {

	position: absolute;

	width: 95%;
	bottom: 0px;
}

.ask-questionBottomLine > .lead {

	margin-bottom: 0px;
}

.ask-answersList {

	padding-left: 30px;
}

.ask-answerProfileImage {

	width: 64px;
	height: 64px;
}

.ask-answerRatingBlock {

	margin-top: 3px;

	width:70px;
	height: 30px;
}

.ask-answerRatingField {

	min-height: 0px;
	width: 85%;
	height: 100%;
	
	margin: 0px;
	padding: 2px 3px;
	font-size: 17px;
	
	background-color: white;
}

.ask-answerRatingButtonsGroup {

	width: 15%;
	height: 100%;
}

.ask-answerAnswerBlock {

	position: relative;

	padding-bottom: 9px;
	padding-right: 15px;
	width:100%;
}

.ask-answerBottomLine {

	position: absolute;

	width: 95%;
	bottom: 0px;
}

.ask-answerBottomLine > .checkbox {

	margin: 0px;
	font-size: 20px;
}

.ask-answerBottomLine > .checkbox > label {

	padding: 0px;
}

.ask-answerBottomLine > .checkbox > label > input {

	position: relative;

	margin-left: 10px;
	top: 2.5px;
	left: -3px;
}

