.ask-questionList {

	overflow: hidden;

	padding-left: 20px;
}

.ask-questionListSubHeader {

	margin-left: 30px;
}

.ask-questionListElement {

	margin-top: 15px;
	padding: 9px;
}

.ask-questionProfileImage {

	width: 64px;
	height: 64px;
}

.ask-questionRatingBlock {

	margin-top: 3px;

	width:70px;
	height: 30px;
}

.ask-questionRatingField {

	min-height: 0px;
	width: 85%;
	height: 100%;
	
	margin: 0px;
	padding: 2px 3px;
	font-size: 17px;
	
	background-color: white;
}

.ask-questionRatingButtonsGroup {

	width: 15%;
	height: 100%;
}

.ask-ratingButton {

	width: 100%;
	height: 50%;

	margin: 0px;
	padding: 0px;
}

.ask-ratingUpButton {

	background-color: #c0d890;
}

.ask-ratingDownButton {

	background-color: #ffb366;
}

.ask-questionListElementQuestionBlock {

	position: relative;

	padding-bottom: 9px;
	padding-right: 15px;
	width:100%;
}

.ask-questionListElementCaption {

	margin-top: 5px;
}

.ask-questionListElementBottomLine {

	position: absolute;

	width: 95%;
	bottom: 0px;
}

.ask-questionListElementBottomLine > .lead {

	margin-bottom: 0px;
}



