{% extends "base.html" %}

{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static "css/answer.css" %}">
<link rel="stylesheet" href="{% static "css/forms.css" %}"> 
{% endblock %}

{% block customContent %}
<div class="container-fluid">

	<div class="container-fluid col-md-11 ask-container ask-bottomBordered">

		<div class="media">
						
			<div class="media-left ask-questionUserBlock">

				<a href="#">
					<img class="media-object img-circle ask-bigQuestionProfileImage" src="{{ question.author.image.url }}">
				</a>

				<div class="ask-questionRatingBlock">

					<div class="well pull-left text-right ask-questionRatingField">
						{{ question.rating }}
					</div>
					
					<div class="btn-group-vertical pull-left ask-questionRatingButtonsGroup" role="group">
							<button type="button" class="btn ask-ratingButton ask-ratingUpButton"></button>
							<button type="button" class="btn ask-ratingButton ask-ratingDownButton"></button>
					</div>

				</div>

			</div> <!-- end of userBlock -->

			<div class="media-right ask-questionQuestionBlock">
				<h2 class="ask-questionCaption"><a href="#"> {{ question.caption|title }}</a></h2>

				<div><p>{{ question.text }}</p></div><br>

				<div class="ask-questionBottomLine">
					<span class="lead ask-questionTags">
						Tags:
					{% for tag in question.tags.all %}
					{% url 'taggedQuestions' tag as taggedQuestionsURL %}
						<a href="{{ taggedQuestionsURL }}">{{ tag }}</a>
					{% endfor %}
					</span>
				</div>

			</div>

		</div>

	</div> <!-- end of question -->

	<div class="container-fluid col-md-11 ask-container ask-bottomBordered">
	{% for answer in question.answersList %}
	{% include "singleanswer.html" %}
	{% endfor %}					
	</div> <!-- answers list end -->

	<form id="answerForm" class="col-md-11 ask-formContainer" enctype="multipart/form-data" method="post">
		{% csrf_token %}

		{{ form.non_field_errors }}
		{% for field in form %}

		<div class="form-group">
			{{ field }}
			{{ field.errors }}
		</div>

		{% endfor %}

		<button type="submit" class="btn btn-default">Answer!</button>

	</form>

</div>
{% endblock %}
