{% extends "base.html" %}

{% load static %}

{% block extras %} <link rel="stylesheet" href="{% static "css/forms.css" %}"> {% endblock %}

{% block customContent %}
<div class="container-fluid">

	<h2>Your question</h2>

	<form class="col-md-10 form-horizontal ask-formContainer" enctype="multipart/form-data" method="post">

		{% csrf_token %}

		{{ form.non_field_errors }}
		{% for field in form %}

		<div class="form-group">

			<label for="{{ field.id_for_label }}" class="col-sm-2 control-label"> {{ field.label }}</label>
			<div class="col-sm-9">
				{{ field }}
				{{ field.errors }}
			</div>

		</div>

		{% endfor %}

		<div class="form-group">

			<div class="col-sm-7 col-sm-offset-2">
				<button type="submit" class="btn btn-default">Ask!</button>
			</div>

		</div>

	</form>

</div>
{% endblock %}