{% extends "base.html" %}

{% block extraCSS %}<link rel="stylesheet" href="/css/questionlist.css"> {% endblock %}


{% block customContent %}
<div class="container-fluid">

	<h2>New Questions<small class="ask-questionListSubHeader"><a>Hot questions</a></small></h2>

	<div class="col-md-11 ask-questionList">

		{% for question in questions %}

		<div class="well well-sm ask-questionListElement">
		
				<div class="media">
					
					<div class="media-left ask-questionListElementUserBlock">

						<a href="#">
							<img class="media-object img-circle" src="../img/dummy.png">
						</a>

						<div class="ask-questionRatingBlock">

							<div class="well pull-left text-right ask-questionRatingField">
								{{ question.rating }}
							</div>
							
							<div class="btn-group-vertical pull-left ask-ratingButtonsGroup" role="group">
									<button type="button" class="btn ask-ratingButton ask-ratingUpButton"></button>
									<button type="button" class="btn ask-ratingButton ask-ratingDownButton"></button>
							</div>

						</div>

					</div> <!-- end of userBlock -->

					<div class="media-right ask-questionListElementQuestionBlock">
						<h3 class="ask-questionListElementCaption"><a href="#"> {{ question.caption }} </a></h3>

						<div><p> {{ question.text }} </p></div><br>

						<div class="ask-questionListElementBottomLine">
							<a class="lead" href="#">Answer ({{ question.answersCount }})</a> 
							<span class="lead pull-right ask-questionListElementTags">
								Tags:
								{% for tag in question.tags %}
								<a href="#">{{ tag }}</a>
								{% endfor %}
							</span>
						</div>

					</div>


				</div>

		</div> <!-- questionsListElement end -->

		{% endfor %}

	</div> <!-- questionList end -->

</div> <!-- fluid container end -->

<nav class="col-md-offset-4" aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}