{% extends "base.html" %}

{% load static %}

{% block extraCSS %}<link rel="stylesheet" href="{% static "css/login.css" %}"> {% endblock %}

{% block customContent %}
<div class="container-fluid">

	<h2>Login</h2>

	<form class="col-md-10 form-horizontal ask-loginFormContainer" enctype="multipart/form-data" method="post">
		{% csrf_token %}

		<div class="form-group">

			{{ form.login.errors }}
			<label for="{{ form.login.id_for_label }}" class="col-sm-2 control-label"> {{ form.login.label }}</label>
			<div class="col-sm-9">
				<input id="{{ form.login.id_for_label }}" name="{{ form.login.name }}" class="form-control" type="text" placeholder="{{ form.login.help_text }}" {% if form.login.value %} value="{{ form.login.value }}" {% endif %} required>
			</div>

		</div>

		<div class="form-group">

			{{ form.password.errors }}
			<label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label"> {{ form.password.label }}</label>
			<div class="col-sm-9">
				<input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" class="form-control" type="text" placeholder="{{ form.password.help_text }}" {% if form.password.value %} value="{{ form.password.value }}" {% endif %} required>
			</div>

		</div>

		<div class="form-group">

			<div class="col-sm-7 col-sm-offset-2">
				<button type="submit" class="btn btn-default">Log in</button>
			</div>
		</div>

		<div class="form-group">
		
			<div class="col-sm-7 col-sm-offset-2">
				{% url 'signup' as signupURL %}
				<a class="ask-createAccountLink" href="{{ signupURL }}">Create new account</a>
			</div>
		</div>

	</form>
	
</div>
{% endblock %}
