{% load static %}

<div class="well well-sm ask-questionListElement">
		
	<div class="media">
		
		<div class="media-left ask-questionListElementUserBlock">

			<a href="#">
				<img class="media-object img-circle" src="{% static "img/dummy.png" %}">
			</a>

			<div class="ask-questionRatingBlock">

				<div class="well pull-left text-right ask-questionRatingField">
					{{ question.rating }}
				</div>
				
				<div class="btn-group-vertical pull-left ask-ratingButtonsGroup" role="group">
						<button type="button" class="btn ask-ratingButton ask-ratingUpButton"></button>
						<button type="button" class="btn ask-ratingButton ask-ratingDownButton"></button>
				</div>

			</div>

		</div> <!-- end of userBlock -->

		<div class="media-right ask-questionListElementQuestionBlock">
			<h3 class="ask-questionListElementCaption"><a href="#"> {{ question.caption }} </a></h3>

			<div><p> {{ question.text }} </p></div><br>

			<div class="ask-questionListElementBottomLine">
				<a class="lead" href="#">Answer ({{ question.answersCount }})</a> 
				<span class="lead pull-right ask-questionListElementTags">
					Tags:
					{% for tag in question.tags %}
					<a href="#">{{ tag }}</a>
					{% endfor %}
				</span>
			</div>

		</div>

	</div>

</div> <!-- questionsListElement end -->