{% load static %}

<div id="answer{{ answer.id }}" class="well well-sm ask-container">
				
	<div class="media">
		
		<div class="media-left ask-answerUserBlock">

			<a href="#">
				<img class="media-object img-circle ask-answerProfileImage" src="{{ answer.author.image.url }}">
			</a>

			<div class="ask-answerRatingBlock">

				<div id="arf{{ answer.id }}" class="well pull-left text-right ask-answerRatingField">
					{{ answer.rating }}
				</div>
				
				<div id="arbg{{ answer.id }}" class="btn-group-vertical pull-left ask-answerRatingButtonsGroup" role="group">
						<button type="button" class="btn ask-ratingButton ask-ratingUpButton"></button>
						<button type="button" class="btn ask-ratingButton ask-ratingDownButton"></button>
				</div>

			</div>

		</div> <!-- end of userBlock -->

		<div class="media-right ask-answerAnswerBlock">

			<div><p>{{ answer.text }}</p></div><br>
			<div id="abl{{ answer.id }}" class="ask-answerBottomLine">

				<div class="checkbox">
				  <label>Correct!<input id="cacb{{ answer.id }}" type="checkbox" value="" {% if answer.correct %}checked{% endif %}></label>
				</div>

			</div>

		</div>

	</div>
</div> <!-- answer end -->